@tailwind base;
@tailwind components;
@tailwind utilities;

.Y-button {
    font-family: var(--font-helvetica);
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 2px;
    font-weight: bold;
}

.Y-H1-caps {
    font-family: var(--font-coco-gothic);
    font-size: 45px;
    font-weight: bold;
    line-height: 58px;
    letter-spacing: 8%;
}

.Y-text {
    font-family: var(--font-helvetica);
    font-size: 15px;
    line-height: 25px;
}

.Y-header {
    font-family: var(--font-helvetica);
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 7%;
}

.Y-small_text {
    font-family: var(--font-helvetica);
    font-size: 12px;
    line-height: 18px;
}

.Y-H3 {
    font-family: var(--font-helvetica);
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 7%;
}

.Y-H4 {
    font-size: 18px;
    font-family: var(--font-helvetica);
    line-height: 25px;
}

.Y-H2 {
    font-family: var(--font-helvetica);
    font-size: 27px;
    line-height: 36px;
}

.Y-H1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    font-family: var(--font-coco-gothic);
}

.Y_mob-Caps {
    font-family: var(--font-coco-gothic);
    font-weight: 700;
    font-size: 35px;
    line-height: 49px;
}

.Y_mob-H2 {
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    font-family: var(--font-helvetica);
}

.Y_mob-H1 {
    font-family: var(--font-coco-gothic);
    font-weight: 700;
    font-size: 35px;
    line-height: 49px;
}

.iconWhite {
    filter: invert(1);
}

input.iconFname{
    background-image: url("../images/user-white.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-x: 12px;
    background-position-y: 12px;
}